# Group Project Outline

## Objective: 
### Simulate one portfolio composed with top stocks in top industries (growth-wise), using historical stock return data, and measure its performance in aspects of the Sharp Ratio of the portfolio. 

## Steps: 
### Use historical stock price data to: 
#### 1. Compute one-month average returns of all the stocks in S&P 500 (say we use the historical 25 years data, then we have 25 x 12 = 300 monthly average returns on one stock. We don't want to use daily returns because thay may be too much data).

#### 2. Use the average returns to do 500 regression models and find the slope of the regression line and store those slopes in one dataframe. By now, we have one corresponding number for one stock that represents the growth of the stock, higher the slope higher the return. 

#### 3. Catagorize the slope data we have into sectors (industries), and we can calculate the average of those slope numbers in each industry. This average may represent the overall trend of the slope (don't know if this make sense mathematically though). 

#### 4. Find the top five industries that have the highest average and build a correlation table. See if one industries growth has something to do with another industry's growth (we can also pick the industries that we think should have close correlation). 

#### 5. For the picked-up industries in #4, we pick five stocks that has the highest regression slope number and do a correlation table based on their historical return averages that we calculated in #1. 

#### 6. If possible, we can use the historical returns of those five stocks and calculate the CAPM beta between the selected stocks and the corresponsing industry (here, we can look at the homeword we did on CAPM beta, in that homework we calculated the beta of one stock to the whole market, but now we focus on the beta between the stock and its industry. Shouldn't be too hard cuz we already have the code). 

#### 7. If possible, we can use the historical returns of selected industries and calculate the CAPM beta between the selected industry to the whole market.

#### 8. Simulate a portfolio with the top stocks in each sector and calculate the Sharp Ratio using their historical returns. (This shouldn't be hard cuz Sharp Ratio is one simple formula.)

## Results
#### We will discover the highest return industry, its correlation with other industries, and its beta with the market. 
#### We will discover the hottest stock in the top industries and their beta with their corresponding industries. 
#### We simulated one portofolio with stocks we picked up based on the regression slope (which represent the growth of the stock) and we will have different betas (between the stock and the industry, and between the industries and the market), and the Sharp Ratio of the portfolio. 

## Methods used: 
#### Regression (whish means visualization)
#### Functions
#### Class 
#### Maybe unittest to test classes 
#### Dataframe operations 
#### ...

## Need to decide: 
#### Steps needed 
#### Methods needed
#### If the math in the steps make sense
#### Rephrase the Steps to make them clearer and more instructive for operational purposes
#### ...

In [16]:
import sys
!{sys.executable} -m pip install --upgrade pandas --user

Requirement already satisfied: pandas in c:\users\klemb\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\klemb\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\klemb\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\klemb\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\klemb\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

# Import Packages Needed

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import yfinance as yf
import pdb
import math
import scipy.stats as sp
import statsmodels.api as sm
import datetime as dt

# Clean Data

In [4]:
df = pd.read_csv('financials.csv')
df1 = df['Symbol']

In [5]:
for i in df1: 
    myticker = yf.Ticker(i)
    history = myticker.history()

- AET: No data found for this date range, symbol may be delisted
- ALXN: No data found, symbol may be delisted
- AGN: No data found, symbol may be delisted
- APC: No data found, symbol may be delisted
- ANDV: No data found for this date range, symbol may be delisted
- BHGE: No data found, symbol may be delisted
- BBT: No data found, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- CA: No data found for this date range, symbol may be delisted
- CBG: No data found for this date range, symbol may be delisted
- CBS: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- CTL: No data found, symbol may be delisted
- XEC: No data found for this date range, symbol may be delisted
- CXO: No data found, symbol may be delisted
- CSRA: No data found for this date range, symbol may be delisted
- DWDP: No data found, symbol may be delisted
- DPS: None
- ETFC: No data found, symbol may be delisted
- EVHC: No data found for this date range, symbol may be delisted
- ESRX: No data found for this date range, symbol may be delisted
- FLIR: No data found, symbol may be delisted
- GGP: None
- HRS: No data found, symbol may be delisted
- HCP: No data found, symbol may be delisted
- JEC: No data found, symbol may be delisted
- LB: No data found, symbol may be delisted
- LUK: None
- KORS: None
- MYL: No data found, symbol may be delisted
- NFX: No data found for this date range, symbol may be delisted
- NBL: No data found, symbol may be delisted
- PCLN: None
- RTN: No data found, symbol may be delisted
- RHT: No data found, symbol may be delisted
- COL: No data found for this date range, symbol may be delisted
- SCG: No data found for this date range, symbol may be delisted
- SNI: No data found for this date range, symbol may be delisted
- STI: No data found, symbol may be delisted
- SYMC: No data found, symbol may be delisted
- TIF: No data found, symbol may be delisted
- TWX: No data found for this date range, symbol may be delisted
- TMK: No data found, symbol may be delisted
- TSS: No data found, symbol may be delisted
- UTX: No data found, symbol may be delisted
- VAR: No data found, symbol may be delisted
- VIAB: No data found, symbol may be delisted
- HCN: None
- WYN: None

In [2]:
missing = ('AET', 'ALXN', 'AGN', 'ARNC', 'APC','ANDV','BHGE','BBT','BRK.B','BF.B','CHK','CA','CBG','CBS','CELG','CTL','XEC','CXO','CSRA','DWDP','DPS','ETFC','EVHC','ESRX','FLIR','GGP','HRS','HCP','JEC','LB','LUK','KORS','MYL','NFX','NBL','PCLN','RTN','RHT','COL','SCG','SNI','STI','SYMC','TIF','TWX','TMK','TSS','UTX','VAR','VIAB','HCN','WYN')

In [5]:
df = df.set_index('Symbol')
for i in missing:
    df=df.drop(index=i)
sp500 = df.reset_index()

In [6]:
tickers = sp500['Symbol']
industries = sp500['Sector'].unique()
df_industry = pd.DataFrame(industries)
df_industry.columns = (['Industries'])

In [ ]:
sp500index = pd.read_csv('S&P 500 Historical Data.csv')
sp500index.head()

sp500index = sp500index[["Date", "Price"]]
sp500index.head(100)
#sp500index['date'] = pd.to_datetime(df['date'])
sp500index = sp500index.sort_index(ascending=False, axis=0)
#sp500index["Date"] = sp500index["Date"].values[::-1]
sp500index.head(100)

sp500indexdf = pd.DataFrame(sp500index)
#sp500indexdf.dtypes
sp500indexdf['Price'] = sp500indexdf['Price'].apply(lambda x: float(x.split()[0].replace(',', '')))
sp500indexdf = sp500indexdf.drop(columns=['Date'])
sp500indexdf.reset_index(drop=True, inplace=True)
sp500indexdf

# Stock Operation Class

In [21]:
class Stock:
    def __init__ (self, ticker):
        self.ticker = ticker
        self.industry = sp500['Sector'][sp500[sp500['Symbol'] == self.ticker].index.tolist()].tolist()[0]
    def monthly_avg(self):
        history = yf.Ticker(self.ticker).history(start='2000-01-01', end='2020-12-31').reset_index()
        monthly_avg = history.groupby(pd.PeriodIndex(history['Date'], freq="M"))['Close'].mean()
        monthly_avg = pd.DataFrame(monthly_avg)
        monthly_avg.columns = ([self.ticker])
        return monthly_avg
    def plot(self):
        data = self.monthly_avg()
        plot = data.plot()
    def reg_slope(self):
        data = self.monthly_avg()
        data = data.reset_index()
        data['Month'] = range(1,len(data)+1)
        X = data['Month']
        y = data[self.ticker]
        model = sm.OLS(y, X).fit()
        predictions = model.predict(X)
        slope = model.params.values
        return slope
    def price_change(self):
        data = pd.DataFrame(self.monthly_avg())
        data = data.reset_index()
        begin = data[self.ticker][data[data['Date'] == '2000-01'].index.tolist()].tolist()
        end = data[self.ticker][data[data['Date'] == '2020-12'].index.tolist()].tolist()
        price_change = (((end[0]-begin[0]))/begin[0])
        return price_change
    def market_cap(self):
        history = yf.Ticker(self.ticker).history(start='2000-01-01', end='2020-12-31').reset_index()
        volume = history.groupby(pd.PeriodIndex(history['Date'], freq="M"))['Volume'].mean()
        price = self.monthly_avg()
        df_v = pd.DataFrame(volume)
        df_p = pd.DataFrame(price)
        market_cap = pd.concat([df_p, df_v], axis=1)
        market_cap['Market_Cap'] = market_cap['Volume'] * market_cap[self.ticker]
        market_cap.columns = ([self.ticker + '_' + 'Price'] , [self.ticker + '_' + 'Volume'] , [self.ticker + '_' + 'Market_Cap'])
        return market_cap

In [25]:
aapl = Stock('AAPL')

In [27]:
str(type(aapl.monthly_avg()))

"<class 'pandas.core.frame.DataFrame'>"

In [29]:
import unittest

class TestStock(unittest.TestCase):
    aapl = Stock('AAPL')
    
    def test_monthly_avg(self):
        avg = self.aapl.monthly_avg()
        self.assertEqual(str(type(avg)), "<class 'pandas.core.frame.DataFrame'>")
    
    def test_price_change(self):
        change = self.aapl.price_change()
        self.assertEqual(round(change, 4), 158.5699)
    
    def test_reg_slope(self):
        slope = self.aapl.reg_slope()
        self.assertEqual(round(slope[0], 4), 0.1694)
        
    def test_market_cap(self):
        avg = self.aapl.monthly_avg()
        self.assertEqual(str(type(avg)), "<class 'pandas.core.frame.DataFrame'>")
        

unittest.main(argv=[''], verbosity=2, exit=False)

test_market_cap (__main__.TestStock) ... ok
test_monthly_avg (__main__.TestStock) ... ok
test_price_change (__main__.TestStock) ... ok
test_reg_slope (__main__.TestStock) ... ok

----------------------------------------------------------------------
Ran 4 tests in 2.056s

OK

# S&P Operation Class

In [23]:
class SP500_Operation:
    def __init__ (self, df):
        self.df = df
    def stock_industry_price_change(self):
        data = []
        for i in tickers[:10]:
            try:
                stock = Stock(i)
                data.append((stock.ticker,stock.industry,stock.price_change()))
            except:
                pass
        stock_industry_price_change = pd.DataFrame(data)
        stock_industry_price_change.columns = ['Symbol', 'Industry','Price_Change']
        return stock_industry_price_change
    def stocks_and_returns_in_industry(self, industry):
        df = self.stock_industry_price_change()
        data = df[df['Industry']== industry]
        return data
    def industry_index(self, industry):
        A = Industry_Operation(df_industry)
        industry_market_cap, names, df = A.total_market_cap(industry)
        weight = A.stock_weight_in_industry(industry)
        #data = pd.DataFrame()
        data_list = []
        for i in names: 
            stock = Stock(i)
            price = stock.monthly_avg()
            #data[i] = price
            data_list.append(price)
        data = pd.concat(data_list, axis=1)
        a = pd.DataFrame(data.values*weight.values, columns=data.columns, index=data.index)
        Industry_Index = pd.DataFrame(a.sum(axis = 1))
        Industry_Index.columns = ([industry])
        return Industry_Index
    def top_stocks_in_industry_index(self, industry, number_stocks=0):
        A = Industry_Operation(df_industry)
        industry_market_cap, names, df = A.total_market_cap(industry)
        data = []
        for i in names:
            try:
                stock = Stock(i)
                data.append((stock.ticker,stock.industry,stock.price_change()))
            except:
                pass
        df = pd.DataFrame(data)
        df.columns = ['Symbol', 'Industry','Price_Change']
        top_stocks_in_industry_index = df.nlargest(number_stocks,'Price_Change')
        return top_stocks_in_industry_index

In [24]:
SP500 = SP500_Operation(sp500)

In [26]:
Industry_Index = SP500.industry_index('Real Estate')

# Industry Operation Class

In [27]:
class Industry_Operation:
    def __init__ (self, df):
        self.df = df
    def total_market_cap(self, industry):
        stocks = sp500['Symbol'][sp500['Sector'] == industry]
        aapl = Stock('AAPL')
        df = pd.DataFrame(aapl.monthly_avg()).drop(['AAPL'], axis=1) 
        df.reset_index()
        data = pd.DataFrame()
        for i in stocks:
            stock = Stock(i)
            a = stock.market_cap()
            b = a.iloc[:,[2]]
            df = df.merge(b, how='left', on='Date')
            df = df.dropna(axis=1)
            data[industry + ' ' + 'Total Market Cap'] = df.sum(axis=1, numeric_only=True)
        industry_market_cap = pd.DataFrame(data[industry + ' ' + 'Total Market Cap'])
        columns_names = df.columns
        names = []
        for item in columns_names:
            name = item[0]
            tickername = name.split('_')[0]
            names.append(tickername)
        return industry_market_cap, names, df
    def stock_weight_in_industry(self, industry):
        industry_market_cap, names, df = self.total_market_cap(industry)
        weight = df.div(industry_market_cap.iloc[:,0], axis=0)
        return weight 
    def plot(self, industry):
        A = SP500_Operation(sp500)
        data = A.industry_index(industry)
        plot = data.plot()
    def price_change(self, industry):
        A = SP500_Operation(sp500)
        data = A.industry_index(industry)
        data = data.reset_index()
        begin = data[industry][data[data['Date'] == '2000-01'].index.tolist()].tolist()
        end = data[industry][data[data['Date'] == '2020-12'].index.tolist()].tolist()
        price_change = (((end[0]-begin[0]))/begin[0])
        return price_change
    def all_industry_index(self):
        industries = self.df
        A = SP500_Operation(sp500)
        #df = pd.DataFrame()
        df_list = []
        for i in industries['Industries']:
            data = A.industry_index(i)
            #df[i] = data
            df_list = data
        df = pd.concat(df_list, axis=1)
        return df

In [28]:
A = Industry_Operation(df_industry)

In [ ]:
all_indusry_index = A.all_industry_index()

In [134]:
all_indusry_index

,Industrials,Health Care,Information Technology,Consumer Discretionary,Utilities,Financials,Materials,Real Estate,Consumer Staples,Energy,Telecommunication Services
Date,,,,,,,,,,,
2000-01,77.839604,31.436889,42.091191,36.751475,14.089149,135.502717,18.156621,19.922140,25.802876,16.894285,16.219778
2000-02,75.739439,37.561319,46.145104,36.871865,14.231425,144.248952,16.492494,23.765975,24.356123,16.414776,15.088013
2000-03,85.186909,36.331097,52.616795,31.991274,13.948501,135.688905,16.434815,29.776266,21.426220,17.803222,16.625511
2000-04,93.109713,29.284575,43.837446,30.474902,13.833689,147.961464,17.494763,22.829001,23.481252,17.712147,17.551257
2000-05,83.399077,29.521381,39.646896,27.981981,17.867398,156.417924,17.689196,22.816852,23.845741,18.122206,16.369677
...,...,...,...,...,...,...,...,...,...,...,...
2020-08,162.008984,186.979917,131.345997,1661.478352,61.196670,94.784680,118.372085,114.206887,124.415587,40.135760,40.119231
2020-09,161.725885,186.534894,135.358235,1822.817043,61.266695,94.650005,124.018530,121.885670,122.457478,36.615269,40.679937
2020-10,166.240082,196.498513,134.027258,1944.321709,66.192477,94.869431,131.083207,124.187648,124.837200,34.055652,38.799217
2020-11,176.150227,199.315572,139.670145,1505.735943,67.126633,102.200213,136.129985,112.837573,125.244061,38.287761,40.719401
2020-12,194.677303,186.829859,148.508003,1414.529845,65.456362,116.219965,131.587906,120.930696,132.575250,42.296490,39.997881

In [127]:
all_indusry_index.to_csv('all_indusry_index.csv')

In [101]:
A.price_change('Real Estate')

5.070165609895448

# CAPM

 
\begin{aligned} &E[R_i] - R_f  = \beta_i ( E[R_m] - R_f ) \\ \\ &\textbf{where:} \\ &ER_i = \text{expected return of stock i} \\ &R_f = \text{risk-free rate} \\ &\beta_i = \text{beta of the stock} \\ &ER_m - R_f = \text{market risk premium} \\ \end{aligned}

In [16]:
R_f = 0.1625
class CAPM:
    def __init__(self,stock):
        self.stock = stock
        self.industry = sp500['Sector'][sp500[sp500['Symbol'] == self.stock].index.tolist()].tolist()[0]
        self.market = sp500indexdf
    def CAPM_stock_industry(self, stock):
        #this is stock monthly percent change
        s = Stock(stock)
        a = s.monthly_avg()
        a = pd.DataFrame(a)
        a.columns=([stock])
        pch = a.pct_change()
        pcch = pch-R_f
        pcch = pcch.iloc[1:]
        pcch.reset_index(drop=True, inplace=True)
        #pcch = pcch.drop('Date', axis=1, inplace=True)
        return pcch
    def CAPM_industry(self, industry):
        #implement
        pass
    
    def CAPM_market(self, market):
        #implement
        sp500_monthly_return = sp500indexdf['Price'].pct_change()
        sp500_monthly_return = sp500_monthly_return-R_f
        sp500_monthly_return = sp500_monthly_return.iloc[1:]
        sp500_monthly_return.reset_index(drop=True, inplace=True)
        return sp500_monthly_return
    def beta_sensitivity_stock_industry(self):
        #implement
        pass
    def beta_sensitivity_industry_market(self, tickerrtn, marketrtn):
        #implement
        ticker_monthly_rtn = np.array(tickerrtn)
        marketrtn = np.array(marketrtn)
        sp500_rtn_trans = np.transpose(marketrtn)
        sp500_rtn_mul = np.matmul(sp500_rtn_trans, marketrtn)
        sp500_inv = np.reciprocal(sp500_rtn_mul)
        sp500_inv_mul_appl = np.matmul(sp500_rtn_trans, ticker_monthly_rtn)
        betaEst = np.multiply(sp500_inv, sp500_inv_mul_appl)
        return betaEst
    def beta_sensitivity(self, x, y):
        beta_sensitivity_list = []
        for i in range(len(x)):
            dropped_x_val = x[i]
            dropped_y_val = y[i]
            
            dropped_x = np.delete(y, i).reshape(-1,1)
            dropped_y = np.delete(y, i).reshape(-1,1)
            
            a = np.reshape(dropped_x, (dropped_x.shape[0], 1))
            b = np.reshape(dropped_y, (dropped_y.shape[0], 1))
            
            beta = np.multiply(np.reciprocal(np.dot(a.T, a)), np.dot(a.T, b))
            beta_i = beta[0][0]
            beta_sensitivity_list.append(([i, dropped_y_val], beta_i))
        return beta_sensitivity_list

In [39]:
test1 = CAPM('AAPL')
test1.CAPM_stock_industry(test1.stock)
#test1.industry
SP500test = SP500_Operation('AAPL')
#SP500test.stocks_and_returns_in_industry('Technology')
#a = test1.monthly_avg()
#a = pd.DataFrame(a)
#a.columns=([stock])
#pch = a.pct_change()
test2 = CAPM('AAPL')
applreturn = test2.CAPM_stock_industry(test2.stock)
sp500return = test2.CAPM_market(test2.market)
beta = test2.beta_sensitivity_industry_market(applreturn, sp500return)
print(applreturn)
print(sp500return)
print(beta)

Empty DataFrame
Columns: [Symbol, Industry, Price_Change]
Index: []

# Test Area 🎲🎲🎲

### Get the correlation among selected stocks

In [469]:
top_return_symbols = top_price_change['Symbol']

In [473]:
# Setting the index column for other dataframe to concat
aapl = Stock('AAPL')
top_stock_monthly_avg = pd.DataFrame(aapl.monthly_avg()).drop(['Close'], axis=1) 
# Generating the monthly average stock price for the top stocks in one dataframe
for i in top_return_symbols:
    stock = Stock(i)
    stock_i_monthly_avg = pd.DataFrame(stock.monthly_avg())
    stock_i_monthly_avg.columns=([i])
    top_stock_monthly_avg = pd.concat([stock_i_monthly_avg,top_stock_monthly_avg], axis=1)
    
stock_corr = top_stock_monthly_avg.corr() 
stock_corr

           MMM       ABT       AOS      ADBE      ATVI
MMM   1.000000  0.849360  0.983290  0.769558  0.919592
ABT   0.849360  1.000000  0.875211  0.969427  0.919668
AOS   0.983290  0.875211  1.000000  0.818619  0.953318
ADBE  0.769558  0.969427  0.818619  1.000000  0.910988
ATVI  0.919592  0.919668  0.953318  0.910988  1.000000

In [420]:
aapl = Stock('AAPL')
data = aapl.monthly_avg()
#aapl = pd.DataFrame(data)

In [457]:
abt = Stock('ABT')
df = pd.DataFrame(abt.monthly_avg()).columns=(['ABT'])
df

              Close
Date
2000-01    8.914329
2000-02    9.112125
2000-03    8.911923
2000-04   10.401491
2000-05   10.793253
...             ...
2020-08  100.550693
2020-09  103.330695
2020-10  106.110295
2020-11  108.888888
2020-12  106.152814

[252 rows x 1 columns]

In [389]:
mmm = Stock('MMM')
data = mmm.monthly_avg()
#mmm = pd.DataFrame(data)

In [396]:
data = pd.concat([aapl, mmm], axis=1)

In [397]:
data.corr()

          AAPL       MMM
AAPL  1.000000  0.799666
MMM   0.799666  1.000000

In [412]:
aapl

               AAPL
Date
2000-01    0.791221
2000-02    0.854596
2000-03    0.983694
2000-04    0.942376
2000-05    0.771708
...             ...
2020-08  116.342647
2020-09  114.222799
2020-10  115.500651
2020-11  116.071418
2020-12  126.510547

[252 rows x 1 columns]

In [415]:
aapl.drop(['AAPL'],axis=1)

Empty DataFrame
Columns: []
Index: [2000-01, 2000-02, 2000-03, 2000-04, 2000-05, 2000-06, 2000-07, 2000-08, 2000-09, 2000-10, 2000-11, 2000-12, 2001-01, 2001-02, 2001-03, 2001-04, 2001-05, 2001-06, 2001-07, 2001-08, 2001-09, 2001-10, 2001-11, 2001-12, 2002-01, 2002-02, 2002-03, 2002-04, 2002-05, 2002-06, 2002-07, 2002-08, 2002-09, 2002-10, 2002-11, 2002-12, 2003-01, 2003-02, 2003-03, 2003-04, 2003-05, 2003-06, 2003-07, 2003-08, 2003-09, 2003-10, 2003-11, 2003-12, 2004-01, 2004-02, 2004-03, 2004-04, 2004-05, 2004-06, 2004-07, 2004-08, 2004-09, 2004-10, 2004-11, 2004-12, 2005-01, 2005-02, 2005-03, 2005-04, 2005-05, 2005-06, 2005-07, 2005-08, 2005-09, 2005-10, 2005-11, 2005-12, 2006-01, 2006-02, 2006-03, 2006-04, 2006-05, 2006-06, 2006-07, 2006-08, 2006-09, 2006-10, 2006-11, 2006-12, 2007-01, 2007-02, 2007-03, 2007-04, 2007-05, 2007-06, 2007-07, 2007-08, 2007-09, 2007-10, 2007-11, 2007-12, 2008-01, 2008-02, 2008-03, 2008-04, ...]

[252 rows x 0 columns]

# Tasks to be done (this is written before thanskgiving)

1. Write instructions on how to use each class and functions -- Bruce
2. Finish def industry_index in SP500 Operation Class -- Kathy 
   Get top industies. Get top stocks in the top industries. 
3. Finish the CAPM Class -- Joseph 
   Get the beta of the selected stocks (beta bw this stock and its inline industry). Get the beta of the selected industries (bw the market). We need SP500 index numbers (proly in yf)
   Demo:
       def CAPM_stock_industry(self, stock)
           i = Stock(stock)
           industry = i.industry 
       def CAPM_industry_market(self, industry)
       def sensitivity_stock_industry
       def sensitivity_industry_market 
4. Unittest -- Kathy 
5. Regression on the stock and the industry (we look for R^2, which explains how much of the stock price chance is contributed by the price change of the industry) (this concept is similar with beta) -- Bruce
6. Sharpe Ratio of the portfolio -- Bruce
7. Portfolio return graph -- Bruce

## Code part DONE by 26th Nov.

# Paper!!!!!!!

### Paper DONE by Nov. 30

# PPT by Dec. 1